<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOVA warehouse</title>
    <link rel="stylesheet" href="/static/base.css">
</head>
<body>
  
<div class="nav">
    <button><a href="/">Home</a></button>
    <button><a href="/requests">My requests</a></button>
    <button><a href="/exit">Exit</a></button>
    
</div>
{% block navbar %}
{% endblock %}
<br>
<br>
<br>

<p>All rights saved to Eyal Yehiely 2023(C)</p>
<hr>
<p><a href="mailto:govawarehouse@gmail.com">click here</a> to send us an email </p>
{% block footer %}
{% endblock %}
</body>

</html>