<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>
<body>
<h1>Items insert form</h1>
<div class="add_items">
  <form action="/items" method="POST">
    <div><input type="text" name="serial_num" required autofocus placeholder="Serial number"> </div>
    <div>
      <select name="category">
        <option value="ropes">Ropes</option>
        <option value="descenders">Descenders</option>
        <option value="rope clamps">Rope clamps</option>
        <option value="safety">Safety</option>
        <option value="Metals">Metals</option>
        <option value="textile">Textile</option>
        <option value="tripods">Tripods</option>
        <option value="stretcher">Stretcher</option>
        <option value="specials">Specials</option>
      </select>
    </div>
    <div><input type="text" name="item_name" required autofocus placeholder="Item name"></div>
    <div><input type="number" name="quantity" required autofocus placeholder="Quantity"></div>
    <div><input type="text" name="added_by" required autofocus placeholder="Added by"></div>
    <div><p>Entrance date</p><input type="date" name="entrance_date" required autofocus placeholder="Entrance date"></div>
    <div><p>Updating date</p><input type="date" name="updating_date" required autofocus placeholder="Updating date"></div>
    <div><input type="submit" value="Add!"></div>
  </form>
</div>

</body>

</html>