<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Please login</h1>
  <div class="login">
    <form action="/login" method="POST">
      <div><input type="text" name="username" required autofocus placeholder="Enter username"></div>
      <div><input type="password" name="password" required autofocus placeholder="Enter password"></div>
      <div><input type="submit" value="login"><button><a href="/register">Sign up</a></button></div>
      
    </form>
  </div> 

</body>                     
</html>